$primary-color: #18121e;
$secondary-color: #233237;
$tertiary-color: #984b43;
$font-color1:#eac67a;
$font-color2: #984b43;

.container{
    background-color: $secondary-color;
    color:$font-color1;
    padding: .5em 0 2em 2em;
    margin-top: 1em;
        h2{

            color:$font-color1;
        }
        button{
            border-radius: 10%;
            border-style: solid;
            background-color: $primary-color;
            border-color: $font-color1;
            color: $font-color1;
         }
         button:hover{
             background-color: $tertiary-color;
             border-color: $primary-color;
             :first-child{
                  color:$primary-color;
             }
            }
}