html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  background-color: $primary-color;
}
router-outlet
{
  display:none;
}
app-root{
  display: flex;
  flex-direction: column;
  align-items: center;
}
app-root > :not(:first-child){
  width: 80%;
  background-color: $secondary-color;
  color:$font-color1;
  padding: .5em 0 2em 2em;
  margin-top: 1em;
}


