html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  /*display: flex;
  flex-direction: column;
  align-items: stretch;
  */
  margin: 0;
  background-color: $base-background-color;
}
router-outlet
{
  display:none;
}
app-root{
  display: flex;
  flex-direction: column;
  align-items: center;

}
app-root >:last-child{
  width: 80%;
  background-color: $secondary-background-color;
 
  
  margin-top: 30px;
  padding-top: 30px;
  border-radius:10px;
  box-shadow: 0px 5px 2px 2px black;
  
}



