<div class="container">
  <div class="header">
    <ul>
      
      <li>{{course.name}}</li>
      <li><button (click)="changeHole(-1)"><--</button><!--<select>
        <option *ngFor="let hole of holes" value="hole">Hole: {{hole.holeNum}}</option> </select>-->
        Hole:  {{holes[currentHole].holeNum}}
      
      <button (click)="changeHole(1)">--></button>
    </li>
      <li>Distance: {{holes[currentHole].distance}} </li>
      
    </ul>
    <ul>
        <li></li>
      <li></li>
      
    </ul>
  </div>


  <div class="scorecard">
    <div class="divTableBody">
    <div class="header">

      <div class="divTableCell">Players</div>
      <div class="divTableCell">Score</div>
    </div>
    <div class="players" *ngFor="let player of players" (click)="onSelect(player)" [class.selected]="player=== selectedPlayer"> 
 
              <div class="divTableCell">{{player.userName}}</div>

                <div class="divTableCell scores">
                  <span class="decr" (click)="decrScore()">-</span>
                  <span>{{player.currentScore[currentHole].par}}</span>
                  <span class="incr" (click)="incrScore()">+</span>
                </div>
        
  
  </div>
</div>
</div>
<div class="buttons">
    <button (click)="showPlayers()">add player</button>
    <button>Remove player</button>
    <a routerLink="/results" > <button> Finish Round</button></a>
  </div>