@import '~assets/styles/style';
.container {
  padding: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    ul {
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1em;
        h1{
          button{
            padding: 3px;
          }
        }
      }
    }
    margin-bottom: -4em;
    padding-bottom: 0;
  }

  .scorecard {
   
    padding: 20px 0 30px 0;
    .divTableBody {
      display: table;
      margin-top:50px;
      .divTableCell {
        display: table-cell;
        width: 150px;
      }
    }
    .header {
      margin-top: 2em;
      padding-bottom: 3em;
      text-decoration: underline;
      display: table-row;
      font-size: 1.2rem;
      .divTableCell {
        padding: 3px 10px;
      }
    }
  }
  .players {
    display: table-row;
   height: 60px;
    .divTableCell {
      margin-right: 30px;
    }
    .strokes {
      
      display: flex;
      justify-content: space-between;
      margin: 10px 0 20px 0;
      span{
        padding: 0 .5em 0 .5em;
      }
   
      span.incr {
        border-style: solid;
        
        cursor: pointer;
      }
    }
    .scores{
     span{ margin-left:20px;}
    }
  }

}

