

<div class='featuredDisc'>

    <div>
      <h2> {{selectedDisc.name}} </h2>
    </div>
    <div> Manufacturer: {{selectedDisc.manufacturer}}</div>
    <div> Distance: {{selectedDisc.distance}}</div>
    <div>Turn: {{selectedDisc.turn}}</div>
    <div> fade: {{selectedDisc.fade}}</div>
    <div>Flight Chart: coming soon... </div>
  </div>
  <button (click)="back()">Back</button> 
  <div class="discs">
    <div *ngFor="let disc of myDiscs" [class.selected]="disc === selectedDisc">
      <button (click)="onSelect(disc)">{{disc.name}}</button>
    </div>
  
  </div>
  