@import '~assets/styles/style';
.featuredDisc {
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    flex: 1 100%;
  }
}

.discs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .disc {
    padding: 10px;
    min-height: 20px;
    margin: 3px;
    //width: 6rem;
    box-sizing: border-box;
    &.selected {
      button {
        background-color: $tertiary-background-color;
        color: $font-color1;
      }
    }
    button {
      &:hover {
        background-color: $tertiary-background-color;
        color: $font-color1;
      }
    }
  }
}
