@import '~assets/styles/style';


    .buttons{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
.switchcase{
    min-height: 50vh;
    margin-bottom: 50px;
}
         ul{
             list-style-type: none;
             li{
                 margin: .5em;
                 div{
                    width: 10em;
                }
             
             }
             
         }

         .users{
             border-color: $font-color1;
             border-width: 2px;
             border-style: solid;
            width: 50%;
            margin: 10px 0;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .userInfo{
                margin-right: 6em;
            }
            .userButtons{
                display: flex;
                flex-direction: column;
                margin-right:3em;
                
            }
            
         }

#show{
    display: flex;
    flex-wrap: wrap;
    width:15em;
    color:$tertiary-color;
}