@import '~assets/styles/style';
.add-border {
  border-style: solid;
  border-color: $font-color1;
  border-width: 0 0 2px 0;
  padding-bottom: 20px;
  margin: 20px 0;
}

.setup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
      flex: 1 100%;
      font-size:40px;
      
  }
  .select-course {
    display: flex;
    width: 50%;
    justify-content: space-between;
    .courseName:hover {
      background-color: $tertiary-background-color;
    }
  }
  .selectedList {
    width: 50%;
  }
  .add-player {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    #add-guest {
      margin: 10px 0px;
      ;
      display: flex;
      justify-content: space-between;
      button {
        margin-left: 10px;
      }
      input {
        flex: 1 50%;
      }
    }
    .name:hover {
      background-color: $tertiary-background-color;
    }
  }
  ul {
    list-style-type: none;
    li {
      margin: .5em;
      width: 10em;
    }
    .remove {
      background-color: $tertiary-background-color;
      color: $font-color1;
    }
    .selected {
      background-color: $font-color1;
      color: $secondary-background-color;
    }
  }
  #add:hover {
    background-color: $font-color1;
    border-color: $primary-color;
    color: $secondary-background-color;
  }
  #courses {
    display: none;
    background-color: $primary-color;
    position: absolute;
  }
}
