$primary-color: #18121e;
$secondary-color: #233237;
$tertiary-color: #984b43;
$font-color1:#eac67a;
$font-color2: #984b43;

.container{
    background-color: $secondary-color;
    color:$font-color1;
    padding: .5em 0 2em 2em;
    margin-top: 1em;
     .selectedList{
        width:50%;
            border-style: solid;
             border-color:$font-color1;
             border-width: .3em 0 .3em 0;

     }
    ul{
        list-style-type: none;
        li{
            margin: .5em;
            div{
                width: 10em;
            }
            input{
                background-color: $tertiary-color;
                color: $font-color1;
            }
        }
        .name:hover{
            background-color: $tertiary-color;
            
        }
        .courseName:hover{
            background-color: $tertiary-color;
            
        }
        .remove{
            
                     background-color: $tertiary-color;
                    color:$font-color1;
                }
       
            .selected{
                
                         background-color: greenyellow;
                        color:$secondary-color;
                    }
            
            
        
    }
        button{
            border-radius: 10%;
            border-style: solid;
            background-color: $primary-color;
            border-color: $font-color1;
            color: $font-color1;
            margin-left: 1em;
            width: 10em;
         }
         #add:hover{
            background-color: greenyellow;
            border-color: $primary-color;
            color: $secondary-color;
         }
         button:hover{
             background-color: $tertiary-color;
             border-color: $primary-color;
           
         }
         #courses{
             display:none;
             background-color: $primary-color;
             position: absolute;
         }
         .name{
             text-align: center;
             width: 25%;
         }
         
}